@import '~bootstrap/scss/bootstrap';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.red{
    color: red;
}

.green{
    color: green;
}

#addProject {
    color: black;
    font-weight: 600;
    position: fixed;
    top: 3rem;
    right: 1rem;
}
